{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Invoicepos list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pos</th>
                <th>Product</th>
                <th>Description</th>
                <th>Discount</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Totalprice</th>
                <th>Tax</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('invoicepos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.pos }}</td>
                <td>{{ entity.product }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.discount }}</td>
                <td>{{ entity.quantity }}</td>
                <td>{{ entity.price }}</td>
                <td>{{ entity.totalPrice }}</td>
                <td>{{ entity.tax }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('invoicepos_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('invoicepos_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('invoicepos_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
