<link href="{{ asset('resources/css/blog/jquery-ui.min.css') }}" rel="stylesheet">
<link href="{{ asset('resources/css/blog/jquery-ui.custom.min.css') }}" rel="stylesheet">

<div id="dialog-message" class="hide">
    {{ form(report_form) }}
</div>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript">
    function showDialog(linkname) {
        $("#report_link").val(linkname);
        $("#report-message").val('');
        var dialog = $("#dialog-message").removeClass('hide').dialog({
            modal: true,
            title: "Ein Problem melden",
            title_html: true,
            width: 500,
            minHeight: 400,
            /*buttons: [
                {
                    text: "melden",
                    "class": "btn btn-primary btn-xs",
                    click: function () {
                        $('#report_form').submit(),
                    }
                }
            ]*/
        });
    }
</script>