{% extends 'pspiessLetsplayBundle::layout.html.twig' %}

{% block title %}Kategorie ändern{% endblock %}

{% block nav %}
    {{ knp_menu_render('pspiessLetsplayBundle:MenuBuilder:mainMenu', {'currentClass': 'active', 'template': 'pspiessLetsplayBundle:Menu:knp_menu.html.twig'}) }}
{% endblock %}

{% block body -%}
    <div class="page-content-area">
        <div class="col-xs-12 col-sm-6">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title">Ausgew&auml;lte Kategorie anpassen</h4>
                </div>
                {#{{ form(form) }}#}
                <div class="widget-body">
                    <div class="widget-main">

                        {{ form_start(form, {attr: {class: 'form-horizontal'}}) }}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ form_label(form.acronym, null, {'label_attr': {'class': 'col-sm-2'}}) }}
                                    <div class="col-sm-2">
                                        {{ form_widget (form.acronym) }}
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ form_label(form.description, null, {'label_attr': {'class': 'col-sm-2'}}) }}
                                    <div class="col-sm-6">
                                        {{ form_widget (form.description) }}
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.note, null, {'label_attr': {'class': 'col-sm-2'}}) }}
                            <div class="col-sm-9">
                                {{ form_widget    (form.note) }} 
                            </div>
                        </div>
                        <div class="hr hr-24"></div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-1">
                                <a class="btn btn-info" href="{{ path('pspiess_letsplay_category') }}">zur&uuml;ck</a>
                            </div>
                            <div class="col-sm-offset-1 col-sm-1">
                                {{ form_widget(form.submit) }}
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div><!-- /.span -->
        </div><!-- /.row -->    
    </div>
{% endblock %}
