{% extends 'pspiessLetsplayBundle::layout.html.twig' %}

{% block title %}Rechnung{% endblock %}

{% block nav %}
    {{ knp_menu_render('pspiessLetsplayBundle:MenuBuilder:mainMenu', {'currentClass': 'active', 'template': 'pspiessLetsplayBundle:Menu:knp_menu.html.twig'}) }}
{% endblock %}

{% block body -%}
    {#    {{ form(form) }}#}

    <div class="page-content-area">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="space-6"></div>
            <div class="col-sm-10 col-sm-offset-1">
                <!-- #section:pages/invoice -->
                <div class="widget-box transparent">
                    <div class="widget-header widget-header-large">
                        {{ form_start(form, {attr: {class: ''}}) }}
                        <h3 class="widget-title grey lighter" style="float:left">Rechnungspr&uuml;fung</h3>
                        <!-- #section:pages/invoice.info -->
                        <div class="widget-toolbar no-border invoice-info">
                            {#<span class="invoice-info-label">Rechnungsnummer:</span>#}
                            {#<span class="red">#121212</span>#}
                            {#<span class="invoice-info-label">Date:</span>#}
                            {#<span class="blue">04/04/2014</span>#}
                            <div class="form-group col-ld-12">
                                {#{{ form_label(form.date, null, {'label_attr': {'class': 'col-sm-6'}}) }}#}
                                {#                                <div class="col-sm-3">
                                                                    {{ form_widget (form.invoiceNumber) }}
                                                                </div>#}
                                <div class="col-ld-12">
                                    {{ form_widget (form.date) }}
                                </div>
                            </div>
                        </div>

                        <div class="widget-toolbar hidden-480">
                            {#<a href="#">
                                <i class="ace-icon fa fa-print"></i>
                            </a>#}
                        </div>
                        <!-- /section:pages/invoice.info -->
                    </div>

                    <div class="widget-body">
                        <div class="widget-main padding-24">
                            <div class="col-sm-6">

                                <div class="col-xs-11 label label-lg label-info arrowed-in arrowed-right">
                                    <b>TorFabrik Sport &amp; Event GmbH</b>
                                </div>
                                <div class="col-sm-12" style='padding-top:7px'>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            {{ form_label(form.taxNumber, null, {'label_attr': {'class': ''}}) }}
                                            <div class="">
                                                {{ form_widget (form.taxNumber) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.companyLocation, null, {'label_attr': {'class': ''}}) }}
                                            <div class="">
                                                {{ form_widget (form.companyLocation) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.companyStreet, null, {'label_attr': {'class': ''}}) }}
                                            <div class="">
                                                {{ form_widget (form.companyStreet) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            {{ form_label(form.companyPhone, null, {'label_attr': {'class': ''}}) }}
                                            <div class="">
                                                {{ form_widget (form.companyPhone) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.companyZip, null, {'label_attr': {'class': ''}}) }}
                                            <div class="">
                                                {{ form_widget (form.companyZip) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.companyCountry, null, {'label_attr': {'class': ''}}) }}
                                            <div class="">
                                                {{ form_widget (form.companyCountry) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>             
                            </div><!-- /.col -->

                            <div class="col-sm-6">

                                <div class="col-xs-11 label label-lg label-success arrowed-in arrowed-right">
                                    <b>Rechnung an</b>
                                </div>
                                <div class="col-sm-12" style='padding-top:7px'>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            {{ form_label(form.customerNumber, null, {'label_attr': {'class': ''}}) }}
                                            <div class="">
                                                {{ form_widget (form.customerNumber) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.customerFirstname, null, {'label_attr': {'class': ''}}) }}
                                            <div class="">
                                                {{ form_widget (form.customerFirstname) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.customerLocation, null, {'label_attr': {'class': ''}}) }}
                                            <div class="">
                                                {{ form_widget (form.customerLocation) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.customerStreet, null, {'label_attr': {'class': ''}}) }}
                                            <div class="">
                                                {{ form_widget (form.customerStreet) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            {{ form_label(form.customerPhone, null, {'label_attr': {'class': ''}}) }}
                                            <div class="">
                                                {{ form_widget (form.customerPhone) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.customerName, null, {'label_attr': {'class': ''}}) }}
                                            <div class="">
                                                {{ form_widget (form.customerName) }}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            {{ form_label(form.customerZip, null, {'label_attr': {'class': ''}}) }}
                                            <div class="">
                                                {{ form_widget (form.customerZip) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.customerCountry, null, {'label_attr': {'class': ''}}) }}
                                            <div class="">
                                                {{ form_widget (form.customerCountry) }}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div><!-- /.col -->
                        <div class="space"></div>

                        <div>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th width="5%">#</th>
                                        <th width="40%">Produkt</th>
                                        <th width="45%">Beschreibung</th>
                                        <th width="10%">Preis</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for invoicepos in form.invoicepos %}
                                        <tr>
                                            <td>
                                                {{ form_widget(invoicepos.pos) }}
                                            </td>
                                            <td>
                                                {{ form_widget(invoicepos.product) }}
                                            </td>
                                            <td>
                                                {{ form_widget(invoicepos.description) }}
                                            </td>
                                            <td>
                                                {{ form_widget(invoicepos.totalPrice) }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div style="display: none;">{{ form_widget(form.invoicepos) }}</div>

                        <div class="hr hr8 hr-double hr-dotted"></div>

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    {{ form_label(form.payment, null, {'label_attr': {'class': ''}}) }}
                                    <div class="">
                                        <span class="red">{{ form_widget (form.payment) }}</span>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 pull-right">
                                <div class="form-group">
                                    {{ form_label(form.TotalPricenet, null, {'label_attr': {'class': ''}}) }}
                                    <div class="">
                                        <span class="red">{{ form_widget (form.TotalPricenet) }}</span>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 pull-right">
                                <div class="form-group">
                                    {{ form_label(form.PaidPrice, null, {'label_attr': {'class': ''}}) }}
                                    <div class="">
                                        {{ form_widget (form.PaidPrice) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 pull-right">
                                <div class="form-group">
                                    {{ form_label(form.tax, null, {'label_attr': {'class': ''}}) }}
                                    <div class="">
                                        <span class="red">{{ form_widget (form.tax) }}</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 pull-right">
                                <div class="form-group">
                                    {{ form_label(form.TotalPrice, null, {'label_attr': {'class': ''}}) }}
                                    <div class="">
                                        <span class="red">{{ form_widget (form.TotalPrice) }}</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr hr8 hr-double hr-dotted"></div>
                        <div class="form-group">
                            {{ form_label(form.note, null, {'label_attr': {'class': ''}}) }}
                            <div class="">
                                {{ form_widget (form.note) }}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            {{ form_widget(form.submit) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
            <!-- /section:pages/invoice -->
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.page-content-area -->
{% endblock %}
