{% extends 'pspiessLetsplayBundle::layout.html.twig' %}

{% block title %}Rechnung{% endblock %}

{% block nav %}
    {{ knp_menu_render('pspiessLetsplayBundle:MenuBuilder:mainMenu', {'currentClass': 'active', 'template': 'pspiessLetsplayBundle:Menu:knp_menu.html.twig'}) }}
{% endblock %}

{% block body -%}
    <div class="page-content-area">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="space-6"></div>
            <div class="col-sm-10 col-sm-offset-1">
                <!-- #section:pages/invoice -->
                <div class="widget-box transparent">
                    <div class="widget-header widget-header-large">
                        <h3 class="widget-title grey lighter">
                            Kundenrechnung
                        </h3>

                        <!-- #section:pages/invoice.info -->
                        <div class="widget-toolbar no-border invoice-info">
                            <span class="invoice-info-label">Nummer:</span>
                            <span class="red">{{ entity.invoiceNumber }}</span>

                            <br />
                            <span class="invoice-info-label">Datum:</span>
                            <span class="blue">{{  entity.date|date("d.m.Y") }}</span>
                        </div>

                        <div class="widget-toolbar hidden-480">
                            <a href="#">
                                <i class="ace-icon fa fa-print"></i>
                            </a>
                        </div>

                        <!-- /section:pages/invoice.info -->
                    </div>

                    <div class="widget-body">
                        <div class="widget-main padding-24">
                            <div class="col-sm-6">

                                <div class="col-xs-11 label label-lg label-info arrowed-in arrowed-right">
                                    <b>TorFabrik Sport & Event GmbH</b>
                                </div>
                                <div class="col-sm-12" style='padding-top:7px'>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <ul class="list-unstyled spaced">
                                                <li><i class="ace-icon fa fa-caret-right blue"></i>{{ entity.taxnumber }}</li>
                                                <li><i class="ace-icon fa fa-caret-right blue"></i>{{ entity.companyStreet }}</li>
                                                <li><i class="ace-icon fa fa-caret-right blue"></i>{{ entity.companyZip }}</li>
                                                <li><i class="ace-icon fa fa-caret-right blue"></i>{{ entity.companyLocation }}</li>
                                                <li><i class="ace-icon fa fa-caret-right blue"></i>{{ entity.companyCountry }}</li>
                                                <li><i class="ace-icon fa fa-caret-right blue"></i>{{ entity.companyPhone }}</li>
                                            </ul>
                                        </div>
                                    </div><!-- /.col -->
                                </div>             
                            </div><!-- /.col -->

                            <div class="col-sm-6">

                                <div class="col-xs-11 label label-lg label-success arrowed-in arrowed-right">
                                    <b>{{ customer.customernr }} - {{ customer.firstname }}, {{ customer.name }}</b>
                                </div>
                                <div class="col-sm-12" style='padding-top:7px'>
                                    <div class="col-sm-6">
                                        <div>
                                            <ul class="list-unstyled  spaced">
                                                <ul class="list-unstyled spaced">
                                                    <li><i class="ace-icon fa fa-caret-right blue"></i>{{ entity.customerStreet }}</li>
                                                    <li><i class="ace-icon fa fa-caret-right blue"></i>{{ entity.customerZip }}</li>
                                                    <li><i class="ace-icon fa fa-caret-right blue"></i>{{ entity.customerLocation }}</li>
                                                    <li><i class="ace-icon fa fa-caret-right blue"></i>{{ entity.customerCountry }}</li>
                                                    <li><i class="ace-icon fa fa-caret-right blue"></i>{{ entity.customerPhone }}</li>
                                                </ul>
                                            </ul>
                                        </div>
                                    </div><!-- /.col -->
                                </div>
                            </div>
                        </div><!-- /.col -->
                        <div class="space"></div>

                        <div>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th width="5%">#</th>
                                        <th width="30%">Produkt</th>
                                        <th width="30%">Beschreibung</th>
                                        <th width="10%"></th>
                                        <th width="10%">Preis</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for invoicepos in entity.invoicepos %}
                                        <tr>
                                            <td>{{ invoicepos.pos }}</td>
                                            <td>{{ invoicepos.product }}</td>
                                            <td colspan="2">{{ invoicepos.description }}</td>
                                            <td>{{ invoicepos.totalPrice|number_format(2, ',', '.') }} &euro;</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td class="info">Mehrwertssteuer: </td>
                                        <td class="info"><span class="red">{{ entity.tax|number_format(2, ',', '.') }} &euro;</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td class="info">Bruttobetrag: </td>
                                        <td class="info"><span class="red">{{ entity.TotalPrice|number_format(2, ',', '.') }} &euro;</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td class="success">Bezahlung: {{ entity.payment }} </td>
                                        <td class="success"><span class="red">{{ entity.TotalPrice|number_format(2, ',', '.') }} &euro;</span></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="hr hr8 hr-double hr-dotted"></div>
                        <div class="entity-group">
                            <div class="">
                                {{ entity.note }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /section:pages/invoice -->
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.page-content-area -->
{% endblock %}
