{% extends 'pspiessLetsplayBundle::layout.html.twig' %}

{% block title %}Preise{% endblock %}

{% block nav %}
    {{ knp_menu_render('pspiessLetsplayBundle:MenuBuilder:mainMenu', {'currentClass': 'active', 'template': 'pspiessLetsplayBundle:Menu:knp_menu.html.twig'}) }}
{% endblock %}

{% block body -%}
<div class="page-content-area">
    <div class="page-header">
        <h1>
            Spielfelder
            <small><i class="ace-icon fa fa-angle-double-right"></i> Alle verf&uuml;gbaren Spielfelder</small>
            <div class="col-md-2 pull-right">
                <a class="btn btn-success" href="{{ path('pspiess_letsplay_field_new') }}"> Neu</a>
            </div>
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-md-offset-1 col-xs-10">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                            <tr>
                                <th>Platznummer</th>
                                <th>Typ</th>
                                <th>Pl&auml;tze</th>
                                <th>Oberfl&auml;che</th>
                                <th>Wartung</th>
                                <th>L&auml;nge</th>
                                <th>Breite</th>
                                <th>Bemerkung</th>
                                <th>im Betrieb</th>
                                <th>Actions</th>
                            </tr>
                            </tr>
                        </thead>

                        <tbody>
                            {% for entity in entities %}
                            <tr>
                                <td>{{ entity.fieldnr }}</td>
                                <td>{{ entity.type }}</td>
                                <td>{{ entity.slots }}</td>
                                <td>{{ entity.ground }}</td>
                                <td>{% if entity.care %}{{ entity.care|date('d.m.Y') }}{% endif %}</td>
                                <td>{{ entity.lenght }} m</td>
                                <td>{{ entity.width }} m</td>
                                <td>{{ entity.note }}</td>
                                <td>{% if entity.activation %}{{ entity.activation|date('d.m.Y') }}{% endif %}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        {{ form_start(deleteForms[entity.id]) }}
                                        <div class="hidden-sm hidden-xs btn-group">
                                            <a class="btn btn-xs btn-info" href="{{ path('pspiess_letsplay_field_edit', { 'id': entity.id }) }}">
                                                <i class="ace-icon fa fa-pencil icon-only"></i>
                                            </a>
                                            <button type="submit" class="btn btn-danger btn-xs">
                                                <i class="ace-icon fa fa-trash-o icon-only"></i>
                                            </button>
                                        </div>
                                            {{ form_end(deleteForms[entity.id]) }}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.span -->
            </div><!-- /.row -->
            <div class="hr hr-18 dotted hr-double"></div>
        </div>
{% endblock %}
